{% extends '../template.html' %} {% block headcontent %}
<title>Detalles de reporte</title>
{% endblock %} {% block pathcontent %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
    <li class="breadcrumb-item text-sm">
      <a class="opacity-5 text-dark">Reportes</a>
    </li>
    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
      Fotográfico
    </li>
  </ol>
  <h6 class="font-weight-bolder mb-0">Detalles</h6>
</nav>
{% endblock %} {% block content %}
<div class="col-6 text-start mb-3">
  <a class="btn bg-gradient-dark mb-0" href="{% url 'photographic_create_row' pk=report.id %}"
    ><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Agregar evidencia</a
  >
</div>

<div class="col-6 text-start mb-3">
  <a class="btn bg-gradient-dark mb-0" href="{% url 'photographic_generate' pk=report.id %}"
    ><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Generar reporte</a
  >
</div>

<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h6 class="text-white text-capitalize ps-3">
            {{ report.app_title }} | {{ report.title }}
          </h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Item
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                >
                  Accion
                </th>
              </tr>
            </thead>
            <tbody>
              {% for item in photos %}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img
                      src="{{ item.pictureOne }}"
                        class="avatar avatar-sm me-3 border-radius-lg"
                        alt="user1"
                      />
                      <img
                        src="{{ item.pictureTwo }}"
                        class="avatar avatar-sm me-3 border-radius-lg"
                        alt="user1"
                      />
                    </div>
                    <div
                      class="d-flex flex-column justify-content-center elipsis"
                    >
                      <h6 class="mb-0 text-sm">Evidencia</h6>
                      <p class="text-xs text-secondary mb-0">
                        {{ item.description }}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <a
                    href="{% url 'photographic_delete_item' pk=item.id %}"
                    class="text-secondary font-weight-bold text-xs"
                    data-toggle="tooltip"
                    data-original-title="Edit user"
                  >
                    Eliminar
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .elipsis {
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>

{% endblock %}
